<!-- Home page Jinja2 template -->

{% extends "base.html" %}

{% block content %}

<!-- Background image -->
<div>
    <div class="bg-cover bg-fixed bg-center bg-no-repeat h-screen" style="background-image: url('../static/img/background-placeholder.jpg');">

    

    <div class="h-screen">
        <h1 class="text-stone-600 snap-center text-4xl">Homeee</h1>
        <p>Welcome to the home page!</p>
    </div>

    <div class="bg-white h-screen">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ea ratione, laborum dolor at voluptates cupiditate earum, in laboriosam iure molestias consequuntur aspernatur possimus alias repellendus voluptatem ipsa voluptatibus sequi?</div>
    </div>
</div>
{% endblock %}